Website/Connected Services/FilmReference/Film1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFilmDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FilmDTO" nillable="true" type="tns:FilmDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFilmDTO" nillable="true" type="tns:ArrayOfFilmDTO" />
  <xs:complexType name="FilmDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Director" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="tns:LocationDTO" />
      <xs:element minOccurs="0" name="LocationId" type="xs:int" />
      <xs:element minOccurs="0" name="Producer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Release_date" type="xs:int" />
      <xs:element minOccurs="0" name="Rt_score" type="xs:double" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idF" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FilmDTO" nillable="true" type="tns:FilmDTO" />
  <xs:complexType name="LocationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Climate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surface_water" type="xs:int" />
      <xs:element minOccurs="0" name="idL" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocationDTO" nillable="true" type="tns:LocationDTO" />
</xs:schema>